.ambulance{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ambulance img{
    width: 350px;
    height: 250px;
    border-radius: 15px;
    border: 5px solid gray;
}

@media screen and (max-width:768px) {
    .ambulance{
       
        grid-template-columns: 1fr;
        margin-top:20px
    }
    .ambulance img{
        width: 335px;
        height: 250px;
        border-radius: 15px;
        border: 5px solid gray;
    }

    
}