.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.services-container img{
    padding: 10px;
}

@media screen and (max-width:765px){

    .services-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 10px;
        grid-gap: 10px;
        margin-right: 10px;
       
    }
}
@media screen and (min-width:766px) and (max-width:1025px){

    .services-container{
        grid-template-columns: repeat(2,1fr);
        margin-left: 35px;
        grid-row-gap: 30px;
        margin-right: 10px;
       
    }
}